In [12]:
%pip install catboost

Requirement already satisfied: catboost in c:\users\user\anaconda3\lib\site-packages (1.2.7)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: graphviz in c:\users\user\anaconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (from catboost) (3.7.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in c:\users\user\anaconda3\lib\site-packages (from catboost) (1.24.3)
Requirement already satisfied: pandas>=0.24 in c:\users\user\anaconda3\lib\site-packages (from catboost) (2.1.4)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from catboost) (1.11.1)
Requirement already satisfied: plotly in c:\users\user\anaconda3\lib\site-packages (from catboost) (5.9.0)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->catboost) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->catboost) (10.0.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from plotly->catboost) (8.2.2)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from catboost import CatBoostClassifier, Pool

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


from sklearn.preprocessing import LabelEncoder

In [14]:
data = data=pd.read_csv('../../Data/data_top10.csv') 
data.head(3)

,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,MI,FT,Data Scientist,111740,North America,0,North America,M
1,SE,FT,Data Scientist,115000,North America,100,North America,M
2,SE,FT,Machine Learning Engineer,112000,North America,0,North America,M

In [15]:
# funci√≥n para clasificar rangos de salarios
def classify_salary(salary):
    if salary < 75000:
        return 'Bajo'
    elif 75000 <= salary < 120000:
        return 'Medio_Bajo'
    elif 120000 <= salary < 180000:
        return 'Medio_Alto'
    else:
        return 'Alto'

In [16]:
# Mapeo Opcion 1 salary_class
data['salary_class'] = data['salary_in_usd'].apply(classify_salary)
data.head(3)

,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,salary_class
0,MI,FT,Data Scientist,111740,North America,0,North America,M,Medio_Bajo
1,SE,FT,Data Scientist,115000,North America,100,North America,M,Medio_Bajo
2,SE,FT,Machine Learning Engineer,112000,North America,0,North America,M,Medio_Bajo

In [17]:
data = data.drop('salary_in_usd', axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11193 entries, 0 to 11192
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   experience_level    11193 non-null  object
 1   employment_type     11193 non-null  object
 2   job_title           11193 non-null  object
 3   employee_residence  11193 non-null  object
 4   remote_ratio        11193 non-null  int64
 5   company_location    11193 non-null  object
 6   company_size        11193 non-null  object
 7   salary_class        11193 non-null  object
dtypes: int64(1), object(7)
memory usage: 699.7+ KB

Ventajas de CatBoost con Variables Categ√≥ricas
Manejo nativo: CatBoost utiliza un enfoque especial para trabajar con variables categ√≥ricas, lo que le permite tratar estas variables sin la necesidad de transformarlas manualmente.

Estrategia de codificaci√≥n: CatBoost implementa t√©cnicas como el target encoding (codificaci√≥n de objetivo) y otras estrategias que permiten manejar las categor√≠as de manera efectiva.

Facilidad de uso: Solo necesitas especificar los √≠ndices o nombres de las columnas categ√≥ricas en el par√°metro cat_features al crear tu modelo, como se mostr√≥ en el ejemplo anterior.

In [18]:
# √çndices de las columnas categ√≥ricas
indices_var_cat = [0, 1, 2, 3, 5, 6]

In [19]:
X = data.drop('salary_class', axis=1)
Y = data['salary_class']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [30]:
modelo_CAT = CatBoostClassifier(iterations=400, learning_rate=0.01, depth=6, cat_features=indices_var_cat, verbose=10)

modelo_CAT.fit(X_train, y_train)

0:	learn: 1.3834172	total: 54.2ms	remaining: 21.6s
10:	learn: 1.3535883	total: 780ms	remaining: 27.6s
20:	learn: 1.3256830	total: 1.51s	remaining: 27.2s
30:	learn: 1.3028472	total: 2.27s	remaining: 27s
40:	learn: 1.2826598	total: 3.05s	remaining: 26.7s
50:	learn: 1.2655687	total: 3.78s	remaining: 25.9s
60:	learn: 1.2506723	total: 4.62s	remaining: 25.7s
70:	learn: 1.2379831	total: 5.31s	remaining: 24.6s
80:	learn: 1.2269152	total: 6.08s	remaining: 23.9s
90:	learn: 1.2176269	total: 6.78s	remaining: 23s
100:	learn: 1.2095229	total: 7.51s	remaining: 22.2s
110:	learn: 1.2026335	total: 8.28s	remaining: 21.6s
120:	learn: 1.1958142	total: 9.05s	remaining: 20.9s
130:	learn: 1.1898059	total: 9.79s	remaining: 20.1s
140:	learn: 1.1846330	total: 10.5s	remaining: 19.3s
150:	learn: 1.1804026	total: 11.2s	remaining: 18.5s
160:	learn: 1.1766931	total: 11.9s	remaining: 17.7s
170:	learn: 1.1732703	total: 12.9s	remaining: 17.2s
180:	learn: 1.1701366	total: 13.6s	remaining: 16.5s
190:	learn: 1.1673948	total: 14.3s	remaining: 15.7s
200:	learn: 1.1652058	total: 15.1s	remaining: 14.9s
210:	learn: 1.1631489	total: 15.7s	remaining: 14.1s
220:	learn: 1.1612896	total: 16.5s	remaining: 13.4s
230:	learn: 1.1593100	total: 17.2s	remaining: 12.6s
240:	learn: 1.1579076	total: 18s	remaining: 11.8s
250:	learn: 1.1565795	total: 18.7s	remaining: 11.1s
260:	learn: 1.1553134	total: 19.4s	remaining: 10.3s
270:	learn: 1.1542939	total: 20.1s	remaining: 9.57s
280:	learn: 1.1532177	total: 20.9s	remaining: 8.86s
290:	learn: 1.1522399	total: 21.6s	remaining: 8.1s
300:	learn: 1.1512281	total: 22.4s	remaining: 7.36s
310:	learn: 1.1503454	total: 23.2s	remaining: 6.65s
320:	learn: 1.1494094	total: 24s	remaining: 5.91s
330:	learn: 1.1487066	total: 24.7s	remaining: 5.15s
340:	learn: 1.1479018	total: 25.5s	remaining: 4.4s
350:	learn: 1.1472588	total: 26.2s	remaining: 3.66s
360:	learn: 1.1466037	total: 27s	remaining: 2.91s
370:	learn: 1.1460468	total: 27.7s	remaining: 2.17s
380:	learn: 1.1455653	total: 28.5s	remaining: 1.42s
390:	learn: 1.1450965	total: 29.2s	remaining: 671ms
399:	learn: 1.1446450	total: 29.8s	remaining: 0us

In [31]:
modelo_CAT.fit(X_train, y_train)

0:	learn: 1.3834172	total: 46ms	remaining: 18.4s
10:	learn: 1.3535883	total: 863ms	remaining: 30.5s
20:	learn: 1.3256830	total: 1.6s	remaining: 29s
30:	learn: 1.3028472	total: 2.34s	remaining: 27.8s
40:	learn: 1.2826598	total: 3.11s	remaining: 27.2s
50:	learn: 1.2655687	total: 3.82s	remaining: 26.1s
60:	learn: 1.2506723	total: 4.57s	remaining: 25.4s
70:	learn: 1.2379831	total: 5.25s	remaining: 24.3s
80:	learn: 1.2269152	total: 5.97s	remaining: 23.5s
90:	learn: 1.2176269	total: 6.67s	remaining: 22.6s
100:	learn: 1.2095229	total: 7.4s	remaining: 21.9s
110:	learn: 1.2026335	total: 8.12s	remaining: 21.1s
120:	learn: 1.1958142	total: 8.86s	remaining: 20.4s
130:	learn: 1.1898059	total: 9.6s	remaining: 19.7s
140:	learn: 1.1846330	total: 10.3s	remaining: 19s
150:	learn: 1.1804026	total: 11s	remaining: 18.2s
160:	learn: 1.1766931	total: 11.7s	remaining: 17.4s
170:	learn: 1.1732703	total: 12.4s	remaining: 16.7s
180:	learn: 1.1701366	total: 13.2s	remaining: 16s
190:	learn: 1.1673948	total: 13.9s	remaining: 15.2s
200:	learn: 1.1652058	total: 14.6s	remaining: 14.5s
210:	learn: 1.1631489	total: 15.3s	remaining: 13.7s
220:	learn: 1.1612896	total: 16.1s	remaining: 13s
230:	learn: 1.1593100	total: 16.9s	remaining: 12.4s
240:	learn: 1.1579076	total: 17.6s	remaining: 11.6s
250:	learn: 1.1565795	total: 18.3s	remaining: 10.9s
260:	learn: 1.1553134	total: 19s	remaining: 10.1s
270:	learn: 1.1542939	total: 19.7s	remaining: 9.4s
280:	learn: 1.1532177	total: 20.5s	remaining: 8.66s
290:	learn: 1.1522399	total: 21.2s	remaining: 7.93s
300:	learn: 1.1512281	total: 21.9s	remaining: 7.2s
310:	learn: 1.1503454	total: 22.6s	remaining: 6.47s
320:	learn: 1.1494094	total: 23.4s	remaining: 5.75s
330:	learn: 1.1487066	total: 24s	remaining: 5.01s
340:	learn: 1.1479018	total: 24.8s	remaining: 4.29s
350:	learn: 1.1472588	total: 25.5s	remaining: 3.56s
360:	learn: 1.1466037	total: 26.2s	remaining: 2.83s
370:	learn: 1.1460468	total: 26.9s	remaining: 2.1s
380:	learn: 1.1455653	total: 27.7s	remaining: 1.38s
390:	learn: 1.1450965	total: 28.3s	remaining: 653ms
399:	learn: 1.1446450	total: 29s	remaining: 0us

In [32]:
# Hacer predicciones y evaluar
y_pred = modelo_CAT.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.42